*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%;
}

.body {
	overflow: hidden;
}
//animation
.bounce-top {
	display: block;
	animation: bounce-top 2s infinite both;
}

.wrapper {
	margin: 0 auto;
	width: 100%;
	max-width: 1200px;
}
.section-heading {
	position: relative;
	text-align: center;
	letter-spacing: 2px;
	padding: 4em 2em;
}
.text {
	font-size: 2rem;
	color: black;
	margin-top: 2em;
}
.underline {
	margin: 0 auto 40px;
	width: 200px;
	height: 4px;
	background-color: black;
}
h2 {
	font-size: 6rem;
	text-transform: uppercase;
}
//mav

.nav-link {
	position: relative;
	margin: 0.5em;
	padding: 0.5em;
	font-size: 2.3rem;
	text-transform: uppercase;
	text-decoration: none;
}
.nav {
	&-mobile {
		position: fixed;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		background-color: #fff;
		z-index: 10;
		transform: translateX(-102%);
		transition: transform 0.3s;
		width: 100%;
		height: 100%;
		.nav-link {
			display: block;
			flex-direction: column;
			color: black;
		}
		&--active {
			transform: translateX(0);
		}
	}

	&-desktop {
		display: inline;
		z-index: 20;
		position: fixed;
		top: 0;
		left: 0;
		width: 100vw;
		line-height: 2em;
		padding: 2em;
		text-align: right;
		.nav-link {
			color: white;
		}
	}

	.nav-link:hover {
		cursor: pointer;
	}
	.nav-link::after {
		content: '';
		position: absolute;
		bottom: 0;
		left: 0;
		height: 0.1em;
		width: 100%;
		background-color: #fff;
		transform: scaleX(0);
		transform-origin: right;
		transition: transform 0.3s;
	}
	.nav-link:hover::after {
		transform: scaleX(1);
		transform-origin: left;
	}
}
.hamburger {
	display: none;
}

.shadow-bg {
	background-color: rgba(0, 0, 0, 0.8);
}

//buttons
.btn-special-animation {
	position: relative;
	transition: background-color;
	overflow: hidden;
	z-index: 0;
}
.btn-special-animation::before {
	display: block;
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	transform: scaleX(0);
	transform-origin: right;
	transition: transform 0.3s;
	z-index: -1;
}
.btn-special-animation:hover::before {
	transform: scaleX(1);
	transform-origin: left;
}

//header
header {
	position: relative;
	color: white;
	z-index: 1;

	h1 {
		text-transform: uppercase;
		font-size: 8rem;
	}

	.header-img {
		position: relative;
		height: 100vh;
		background-image: url('img/trees.jpg');
		background-position: center;
		background-size: cover;
		background-attachment: fixed;
		z-index: -500;
	}

	.header-shadow {
		position: absolute;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.7);
		z-index: -100;
	}

	.header-text {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		height: 100%;
		text-align: center;
		z-index: 50;
		button {
			margin-top: 2em;
			padding: 0.8em 1.6em;
			font-size: 1.4rem;
			background: none;
			border: 1px solid #fff;
			border-radius: 8px;
			color: #fff;
			text-decoration: none;
			text-transform: uppercase;
			cursor: pointer;
		}
		button::before {
			background-color: rgb(160, 160, 160);
		}
	}
	i {
		position: absolute;
		bottom: 40px;
		left: 50%;
		transform: translateX(-50%);
		font-size: 4em;
	}
}

//abouts

.abouts {
	height: 100vh;

	p {
		color: black;
	}
}
///jobs
.jobs {
	.container {
		display: flex;
		flex-direction: row;
		justify-content: center;

		.size {
			width: 300px;
			margin: 20px 20px;
			overflow: hidden;
			.box {
				overflow: hidden;
				padding: 0;
			}
			.box img {
				display: block;
				max-width: 100%;
				height: 200px;
				width: 100%;
				transition-duration: 0.5s;
			}
			.box img:hover {
				transform: scale(1.2);
				-webkit-transform: scale(1.2);
				-moz-transform: scale(1.2);
				z-index: 0;
			}

			h3 {
				font-size: 3rem;
				margin-top: 1em;
				height: 100px;
			}
			p {
				font-size: 1.5rem;
				color: black;
				margin-top: 1em;
			}
		}
	}
}

footer {
	height: 100px;
	background-color: rgb(0, 0, 0);
}
///KeyFrames

/* ----------------------------------------------
 * Generated by Animista on 2022-5-19 17:30:45
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation bounce-top
 * ----------------------------------------
 */
@-webkit-keyframes bounce-top {
	0% {
		-webkit-transform: translateY(-45px);
		transform: translateY(-45px);
		-webkit-animation-timing-function: ease-in;
		animation-timing-function: ease-in;
		opacity: 1;
	}
	24% {
		opacity: 1;
	}
	40% {
		-webkit-transform: translateY(-24px);
		transform: translateY(-24px);
		-webkit-animation-timing-function: ease-in;
		animation-timing-function: ease-in;
	}
	65% {
		-webkit-transform: translateY(-12px);
		transform: translateY(-12px);
		-webkit-animation-timing-function: ease-in;
		animation-timing-function: ease-in;
	}
	82% {
		-webkit-transform: translateY(-6px);
		transform: translateY(-6px);
		-webkit-animation-timing-function: ease-in;
		animation-timing-function: ease-in;
	}
	93% {
		-webkit-transform: translateY(-4px);
		transform: translateY(-4px);
		-webkit-animation-timing-function: ease-in;
		animation-timing-function: ease-in;
	}
	25%,
	55%,
	75%,
	87% {
		-webkit-transform: translateY(0px);
		transform: translateY(0px);
		-webkit-animation-timing-function: ease-out;
		animation-timing-function: ease-out;
	}
	100% {
		-webkit-transform: translateY(0px);
		transform: translateY(0px);
		-webkit-animation-timing-function: ease-out;
		animation-timing-function: ease-out;
		opacity: 1;
	}
}
@keyframes bounce-top {
	0% {
		-webkit-transform: translateY(-45px);
		transform: translateY(-45px);
		-webkit-animation-timing-function: ease-in;
		animation-timing-function: ease-in;
		opacity: 1;
	}
	24% {
		opacity: 1;
	}
	40% {
		-webkit-transform: translateY(-24px);
		transform: translateY(-24px);
		-webkit-animation-timing-function: ease-in;
		animation-timing-function: ease-in;
	}
	65% {
		-webkit-transform: translateY(-12px);
		transform: translateY(-12px);
		-webkit-animation-timing-function: ease-in;
		animation-timing-function: ease-in;
	}

	25%,
	55%,
	75%,
	87% {
		-webkit-transform: translateY(0px);
		transform: translateY(0px);
		-webkit-animation-timing-function: ease-out;
		animation-timing-function: ease-out;
	}
	100% {
		-webkit-transform: translateY(0px);
		transform: translateY(0px);
		-webkit-animation-timing-function: ease-out;
		animation-timing-function: ease-out;
		opacity: 1;
	}
}
@media (max-width: 520px) {
	.nav-desktop {
		display: none;
	}
	.hamburger {
		display: block;
	}
	header {
		h1 {
			font-size: 5rem;
		}
	}
	h2 {
		font-size: 4rem;
	}
}
